@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');

html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}

.botao-tela-inicial {
  font-family: 'Luckiest Guy', cursive;
  padding: 1rem 1.25rem;
  font-size: 1.5rem;
  letter-spacing: .25rem;
  box-shadow: 2px 2px 0px 1px #191970;
  text-transform: uppercase;
  background-color: #1E90FF;
  border: none;
  border-radius: .75rem;
  color: #fff;
}

.botao-tela-inicial:hover {
  background-color: #B0C4DE;
  box-shadow: 2px 2px 0px 1px #4B0082;
}